.navbar {
    padding: 10px 20px;
}

.navbar-brand{
    /* Gradient collar in the text */
    background-image: linear-gradient(90deg, #004aad, #5de0e6 ); /* Horizontal gradient */
    -webkit-background-clip: text; /* Applies gradient to text */
    -webkit-text-fill-color: transparent; /* Makes the text fill transparent to show the gradient */
}

.title {
    /* Gradient collar in the text */
    font-weight: bold;
    background-image: linear-gradient(90deg, #004aad, #5de0e6 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}